*$py.class
*.egg
*.egg-info
*.egg-info/
*.py[cod]
*.so
.Python
.coverage
.eggs/
.installed.cfg
.pytype/
.venv/
MANIFEST
__pycache__/
build/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
wheels/
.jfrog/
